image: python:3.12

stages:
  - lint
  - test
  - build
  - publish

cache:
  paths:
    - .cache/pip

lint:
  stage: lint
  script:
    - pip install ruff
    - ruff check .
  allow_failure: true

test:
  stage: test
  script:
    - pip install -e ".[dev]"
    - pytest

build:
  stage: build
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

publish:
  stage: publish
  only:
    - /^v\d+\.\d+\.\d+$/
  except:
    - branches
  script:
    - pip install build twine
    - python -m build
    - twine upload dist/*
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI_TOKEN
